<!doctype html>
<html>
    
<head>
    <title>User Login and Sessions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>
    
    <div class="jumbotron text-center">
        <h1>Arctic Chatter</h1>
    </div>
    <div class="parallax"></div>
    <div class="container">
        <p class="form-header">Sign Up</p>
        <form method="POST" action="/signup">
            <label>Username:</label>
            <input type="text" id="username" name="username"><br>
            <label>Password:</label>
            <input type="password" id="password" name="password"><br>
            <label>Email:</label>
            <input type="email" id="email" name="email"><br>
            <input type="submit" id="register" value="Register">
        </form>
    </div>
    <hr>
    <span id="signupMsg">
    <%= msg %>
    </span>
    <div class="parallax"></div>
</body> 

</html>
