body, html {
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: outset;
  border-color: red;
}

.jumbotron {
  
  background-color: aqua;
  border-radius: 45px;
}

.parallax { 

    background-image: url("https://images2.alphacoders.com/483/483443.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}